<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>926833493546-b7fjv4q47rirhu0f3b0dg6b28d61remj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.926833493546-b7fjv4q47rirhu0f3b0dg6b28d61remj</string>
	<key>API_KEY</key>
	<string>AIzaSyAf42YWKt5KDVvUjIwi0u48FLh4mXQ5j-w</string>
	<key>GCM_SENDER_ID</key>
	<string>926833493546</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.phamduy.HarvestApp</string>
	<key>PROJECT_ID</key>
	<string>harvestapp-a024d</string>
	<key>STORAGE_BUCKET</key>
	<string>harvestapp-a024d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:926833493546:ios:0152cd6876b344ae31a553</string>
</dict>
</plist>